* {box-sizing: border-box;}

img.bookmark-app, img.climbing-pic, img.quiz-app, img.dorian-site, img.sermo, img.cup-of-sugar {
    width: 90%;
    height: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    margin-left: -1em;
}

main {
    margin-top: 5.5em;
    font-family: 'Bai Jamjuree', sans-serif;
}

.skills {
    display: inline-block;
    width: 45%;
    margin-left: -1.3em;
    border-right-style: solid;
    border-color: whitesmoke;
    padding-right: 1em;
}

.skills h3 {
    padding-left: .6em;
}

.first-paragraph-aboutMe {
    display: inline-block;
    width: 50%;
    font-size: 1.1em;
    padding-left: 7%;
    margin-top: -2em;
}

img.bio-pic {
    width: 40%;
    height: auto;
    border-radius: 50%;
    margin-bottom: -2em;
    display: inline-block;
}

.technical-skills-ul, .education-ul {
    color: whitesmoke;
    margin-top: -1em;
}

.name {
    text-align: center;
    border-bottom-style: solid;
    border-color: whitesmoke;
    padding-bottom: .5em;
}

.puzzles {
    display: inline-flex;
    font-size: 1.4em;
    padding-left: 7%;
    text-shadow: .3em .3em rgba(77, 77, 77, 0.534);
    margin-top: -30em;
}

h1 {
    font-family: 'Overlock SC', cursive;
    font-size: 2em;
}

h1, h2, h3 {
    text-align: center;
}

body {
    color: white;
    background-color: rgb(41, 41, 41);
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
}

p {
    line-height: 1.5em;
}

.intro {
    border-bottom-style: solid;
    color: whitesmoke;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.tech-used {
    margin-top: 0;
    padding-left: 1em;
}

.tech-icons {
    font-size: 1em;
    margin-left: -5px;
}

.fa-html5 {
    color: rgb(255, 102, 0);
}

.fa-sass {
    color: rgb(146, 2, 110);
    margin-right: -4px;
}

.fa-js {
    color: rgb(255, 230, 0);
}

.fa-css3-alt {
    color: rgb(0, 140, 255);
}

.fa-react {
    color: rgb(81, 189, 216);
}

.iconify {
    margin-bottom: -2px;
    margin-left: 2px;
    margin-right: 6px;
    z-index: -1;
}

img.jQuery {
    display: inline-block;
    background-color: whitesmoke;
    height: .82em;
    margin-left: 0em;
    box-shadow: none;
    margin-right: 4px;
}

i {
    font-size: 3em;
    padding: 8px;
    border-radius: 2px;
}

i.fa-linkedin-in {
    color: whitesmoke;
    background-color: #0077b5;
}

nav {
    margin-left: -1em;
    margin-right: -1em;
    background-color: whitesmoke;
    font-family: 'Lexend Exa', sans-serif;
    z-index: 1000;
}

section.button-section {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

span {
    border-radius: 3px;
    height: 3em;
    cursor: pointer;
    box-shadow: 2px 2px 2px grey;
    transition: color .5s;
    font-family: 'Lexend Exa', sans-serif;
    transition-duration: .5s;
    background-color: whitesmoke;
    color: rgb(41, 41, 41);
    padding: 1em;
}

span:hover {
    color: white;
    background-color: rgb(41, 41, 41);
    transform: translate(.3em, -.3em);
}

ul.nav-ul {
    padding-left: 0;
    margin-left: 0%;
    font-size: .9em;
    color: rgb(41, 41, 41);
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav-ul li {
    padding: 1em;
    margin: -1em;
    transition: color .5s;
}

.nav-ul li:hover {
    cursor: pointer;
    background-color: rgb(41, 41, 41);
    color: white;

}

.contact-ul {
    text-align: center;
    margin-left: -1.9em;
}

.contact-ul li {
    text-align: center;
}

.linked-in-icon, .github-icon {
    display: block;
    transition-duration: .4s;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

li {
    margin-left: 0%;
    list-style: none;
}

.contact-ul a {
    cursor: pointer;
}

.contact-ul .linked-in-icon:hover {
    transform: translate(.25em, -.25em);
}

.contact-ul .github-icon:hover {
    transform: translate(.3em, -.3em);
}

.contact-ul .plane-icon:hover {
    transform: translate(.5em, -.5em);
}

.plane-icon {
    transition-duration: 1s;
    display: block;
    width: 7em;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.paper-plane-icon-description {
    margin-left: .6em;
    margin-top: -.1em;
}

.linked-in-icon-description {
    margin-left: .3em;
    margin-top: -.2em;
}

.github-icon-description {
    margin-left: .5em;
    margin-top: -.3em;
}

a { 
    text-decoration: none; 
    color: whitesmoke;

}

strong {
    font-weight: bold;
}

a:visited { 
    text-decoration: none;
    color: whitesmoke;
}

.education-ul {
    margin-bottom: 5em;
    line-height: 1.5em;
}

@media screen and (min-width: 375px) {
    ul.nav-ul {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 500px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
    .puzzles {
        margin-left: 10%;
        vertical-align: 50%;
    }
    .skills {
        margin-top: 1em;
    }
}

@media screen and (min-width: 900px) {
    .skills {
        text-align: center;
        margin-top: 0;
    }
    .puzzles {
        margin-left: 10%;
        font-size: 3em;
    }
    .first-paragraph-aboutMe {
        font-size: 2em;
    }
    p {
        font-size: 1.3em;
        margin-bottom: 1.5em;
    }

    h1 {
        font-size: 3em;
    }
    .name {
        font-size: 2em;
    }
    img.bio-pic {
        width: 30%;
        height: auto;
        margin-left: 8%;
    }
    .body-text p {
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }
    .intro {
        display: inline-block;
        position: fixed;
        left: 3%;
        width: 30%;
        height: 40%;
        border-right-style: solid;
        border-color: whitesmoke;
        margin-top: 8%;
        border-bottom-style: none;
        padding-right: 2%;
    }
    img.bookmark-app {
        width: 90%;
    }
    .projects-div {
        display: inline-block;
        width: 65%;
        margin-left: 36%;
    }
    .education-ul {
        text-align: center;
        line-height: 2.5em;
        font-size: 1.3em;
    }
    h3 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 3em;
    }
    .projects-div h3 {
        font-size: 2em;
    }
}